//Ejemplo de config
POSICIONES_ENTRENADORES=[1|2,3|7,5|5]
POKEMON_ENTRENADORES=[Pikachu|Squirtle|Pidgey, Squirtle|Charmander, Bulbasaur]
OBJETIVOS_ENTRENADORES=[Pikachu|Pikachu|Squirtle|Pidgey,Pikachu|Charmander|Charmander,Squirtle|Bulbasaur]
TIEMPO_RECONEXION=30
RETARDO_CICLO_CPU=1
RETARDO_REINTENTO_BROKER=5
ALGORITMO_PLANIFICACION=FIFO
QUANTUM=3
CONSTANTE_ESTIMACION=1
ESTIMACION_INICIAL=0
IP_BROKER=127.0.0.1
IP_GAMEBOY=127.0.0.2
PUERTO_GAMEBOY= 5002
PUERTO_BROKER=4444
LOG_FILE=team.log
LOG_NIVEL_MINIMO=TRACE